@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";
@import "./variables.scss";

body {
  font-family: $family-sans-serif;
  color: $dark;
  background-color: $light;
}

.has-background-yellow,
.is-yellow {
  background-color: $yellow !important;
}

.has-background-green,
.is-green {
  background-color: $green !important;
  color: $light !important;
}

.selected {
  border: 3px solid $green;
}

@import "./patient_picker.scss";
